$cinza: #fcfcfc;
$cinza-medio: #494848;
$azul: #0d3080;
$roxo: #6d19c1;
$verde-claro: #7bdcca;
$verde-medio: #00ffc8;
$verde-escuro: #00a74b;
$laranja: #ce2a05;
$vermelho: #ff007b;
$branco: #ffffff;
$preto: #000000;