@import '../scss/colors.scss';
@import '../scss/font.scss';


.figurado {
    position: relative;
    margin-top: 2.5vw;
    
    .figurado__dia {
        padding: 2vw;
        padding-bottom: 4vw;
        border-radius: 0.625vw;
        background-color: rgba($azul, 0.5);

        .figurado__dia__title {
            color: $branco;
            font-size: 2vw;
            font-weight: 700;
            margin-bottom: 2vw;
            text-align: center;
        }
    
        .figurado__dia__anos {
            padding-top: 1vw;
            background-color: rgba($color: $verde-claro, $alpha: 0.5);
            border-radius: 0.625vw;
            padding: 1vw;
            padding-top: 2vw;
            height: 8vw;
            margin-bottom: 1vw;
    
            .figurado__dia__anos__title {
                color: $branco;
                font-size: 1.25vw;
                font-weight: 500;
                text-align: center;
                margin-bottom: 1vw;
            }
    
            .figurado__dia__anos__text {
                color: $branco;
                font-size: 1.25vw;
                font-weight: 800;
                text-align: center;
            }
        
        }
    
        .figurado__dia__dica {
            padding: 1vw;
            background-color: rgba($color: $verde-claro, $alpha: 0.5);
            border-radius: 0.625vw;
            height: 8vw;
    
            .figurado__dia__dica__text {
                color: $branco;
                font-size: 1vw;
                font-weight: 500;
                margin-bottom: 0.5vw;
                text-align: center;
            }
    
            .figurado__dia__dica__img {
                width: 35%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 0.625vw;
            }
        }
    
        .figurado__dia__menu {
            margin-top: 2vw;

            .figurado__dia__menu__title {
                color: $verde-claro;
                font-size: 1.25vw;
                font-weight: 500;
                margin-bottom: 2vw;
                text-align: center;
                padding: 0.5vw;
                background-color: $azul;
                border-radius: 0.625vw;
                border: 0.2vw solid $verde-claro;
            }

            .figurado__dia__menu__option {
                font-size: 1.25vw;
                width: 100%;
                color: $branco;
                margin-bottom: 1vw;
                border-radius: 0.625vw;
                background: none;
                outline: none;

                .figurado__dia__menu__option__down {
                    width: 5%;
                }

            }

            .figurado__dia__menu__items {
                margin-bottom: 0.5vw;
    
                .figurado__dia__menu__items__item {
                    margin-bottom: 1vw;
                    display: inline-block;
                    width: 12%;
                    padding: 0.5vw;
    
                    .figurado__dia__menu__items__item__img {
                        width: 100%;
                        border-radius: 0.625vw;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(0.9);
                            transition: 0.4s;
                        }
                    }
                    
                }
             
                .figurado__dia__menu__items__item--titulo {
                    margin-bottom: 1vw;
                    display: inline-block;
                    width: 12.5%;
                    padding: 0.25vw;
    
                    .figurado__dia__menu__items__item__img {
                        width: 100%;
                        border-radius: 0.625vw;
                        padding: 0.1vw;
                        cursor: pointer;
    
                        &:hover {
                            transform: scale(0.8);
                            transition: 0.4s;
                        }
                    }
                    
                }

            }

    

        }

    }

    .figurado__palpites {
        position: sticky;
        top: 2.5vw;

        .figurado__palpites__erros {
            padding: 1.25vw;
            background-color: rgba($azul, 0.5);
            border: 0.2vw $vermelho solid;
            border-radius: 0.625vw;
            margin-bottom: 2vw;
    
            .figurado__palpites__erros__numero {
                color: $vermelho;
                font-size: 2vw;
                font-weight: 500;
                margin-bottom: 0.25vw;
                text-align: center;
            }
        }
    
        
        .figurado__palpites__palpite {
            border-radius: 0.625vw;
            margin-top: 1vw;
            padding: 0.5vw;
    
            .figurado__palpites__palpite__img {
                width: 100%;
                border-radius: 0.625vw;
            }
    
            .figurado__palpites__palpite__text {
                color: $branco;
                padding-top: 1vw;
                font-size: 1.2vw;
                font-weight: 700;
                margin-bottom: 0.5vw;
                text-align: center;
    
    
            }
        }
    
        .figurado__palpites__chute {
            position: relative;
            background-color: rgba($roxo, 0.5); 
            padding: 2vw;
            padding-top: 2.5vw;
            border-radius: 0.625vw;
            margin-top: 2vw;
    
            .figurado__palpites__chute__label {
                display: block;
                color: $branco;
                font-size: 1.25vw;
                font-weight: 500;
                margin-bottom: 0.5vw;
                text-align: center;
            }

            .figurado__palpites__chute__sub {
                display: block;
                color: $verde-claro;
                font-size: 0.75vw;
                font-weight: 400;
                margin-bottom: 0.5vw;
                text-align: center;
                font-style: italic;
            }
    
            .figurado__palpites__chute__input {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1vw;
                width: 100%;
                border-radius: 0.625vw;
                text-align: center;
                border: none;
                outline: none;
    
                &:focus {
                    border: none;
                    outline: none;
    
                }
            }
    
            .figurado__palpites__chute__jogadores {
                display: block;
                padding: 1vw;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2vw;
                border-radius: 0.625vw;
                background-color: $cinza;
                list-style: none;
                max-height: 10vw;
                overflow-y: auto;
    
                .figurado__palpites__chute__jogadores__jogador {
                    color: $roxo;
                    font-size: 1vw;
                    font-weight: 500;
                    margin-bottom: 0.25vw;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;
    
                    &:hover {
                        color: $verde-medio;
                    }
                }
    
            }
    
            .figurado__palpites__chute__jogadores::-webkit-scrollbar-track {
                border: 2px solid $roxo;
                border-radius: 0.625vw;
            }
               
            .figurado__palpites__chute__jogadores::-webkit-scrollbar-thumb {
                background-color: $verde-claro;
                outline: none;
                border-radius: 0.625vw;
            }
    
            .figurado__palpites__chute__jogadores::-webkit-scrollbar {
                width: 1vw;
            }
    
            .figurado__palpites__chute__jogador {
                position: relative;
    
                .figurado__palpites__chute__jogador__fechar {
                    display: block;
                    text-align: right;
                    margin-bottom: 0.5vw;
                    padding: 0.25vw;
                    padding-left: 0.75vw;
                    padding-right: 0.75vw;
                    border-radius: 0.625vw;
                    color: $vermelho;
                    font-weight: 700;
                    font-size: 1.5vw;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        color: $verde-claro;
                    }
    
                }
    
                .figurado__palpites__chute__jogador__nome {
                    color: $branco;
                    font-size: 1.5vw;
                    font-weight: 500;
                    margin-bottom: 1vw;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;
                }
    
                .figurado__palpites__chute__jogador__button {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1vw;
                    padding: 0.5vw;
                    font-weight: 700;
                    padding-left: 1vw;
                    padding-right: 1vw;
                    border-radius: 0.625vw;
                    margin-top: 2vw;
                    background-color: $verde-claro;
                    color: $roxo;
                    width: 70%;
                    font-size: 1vw;
                    border: none;
                    outline: none;
                    
                    &:hover {
                        color: $branco;
                        background-color: $vermelho;
                    }
                }
            }
    
    
        }

    }

    .figurado__option {
        margin-bottom: 2vw;
        

        .figurado__option__items {
            padding: 1vw;
            padding-top: 2vw;
            border-radius: 0.625vw;
            background-color: rgba($verde-claro, 0.5);

            .figurado__option__items__item {
                margin-bottom: 1vw;

                .figurado__option__items__item__img {
                    width: 100%;
                    border-radius: 0.625vw;
                    cursor: pointer;

                    &:hover {
                        transform: scale(0.9);
                        transition: 0.4s;
                    }
                    
                }

                .figurado__option__items__item__img--time {
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.40);
                        transition: 0.4s;
                    }
                    
                }
            }

            
        }

        .figurado__option__items--pos {
            border-radius: 0.625vw;
            padding-top: 1vw;
            background-color: rgba($verde-claro, 0.5);

            .figurado__option__items__item {
                margin-bottom: 1vw;

                .figurado__option__items__item__img {
                    width: 100%;
                    border-radius: 0.625vw;
                    cursor: pointer;

                    &:hover {
                        transform: scale(0.9);
                        transition: 0.4s;
                    }
                }
            }

            
        }

        
    }
}

.posições {
    margin-bottom: 0;
}


@media only screen and (max-width: 767px) {

    .figurado {
        padding-bottom: 20vw;

        .figurado__dia {
            padding: 0;
            padding-top: 6vw;

            .figurado__dia__title {
                font-size: 7vw;
                margin-bottom: 10vw;
            }

            .figurado__dia__dica {
                padding: 4vw;
                background-color: rgba($color: $verde-claro, $alpha: 0.5);
                border-radius: 0.625vw;
                height: 30vw;
                padding-bottom: 20vw;

                .figurado__dia__dica__text {
                    font-size: 4vw;
                    margin-bottom: 4vw;
                }

                .figurado__dia__dica__img {
                    width: 50%;
                }
            }

            .figurado__dia__anos {
                height: 30vw;

                .figurado__dia__anos__text {
                    font-size: 5vw;
                    margin-bottom: 4vw;
                }

                .figurado__dia__anos__title {
                    margin-top: 6vw;
                    font-size: 5vw;
                }
            }

            .figurado__dia__menu {
                margin-top: 4vw;

                .figurado__dia__menu__title {
                    font-size: 5vw;
                    padding: 6vw;
                    margin-right: 4vw;
                    margin-left: 4vw;
                    margin-bottom: 16vw;
                }

                .figurado__dia__menu__option {
                    font-size: 5vw;
                    margin-bottom: 4vw;
                    margin-top: 8vw;
                    margin-right: 4vw;
                    margin-left: 4vw;
                }

                .figurado__dia__menu__items {

                    .figurado__dia__menu__items__item {
                        width: 20%;
                        padding: 2vw;
                        margin-bottom: 4vw;
                    }

                    .figurado__dia__menu__items__item--titulo {
                        width: 25%;
                        padding: 4vw;
                    }
                }
            }
        }


        .figurado__palpites {
            position: relative;
            margin-top: 12vw;
            padding-left: 4vw;
            padding-right: 4vw;

    
            .figurado__palpites__erros {
                padding: 2vw;
                border: 0.4vw $vermelho solid;
                border-radius: 0.625vw;
                margin-bottom: 8vw;
        
                .figurado__palpites__erros__numero {
                    color: $vermelho;
                    font-size: 6vw;
                    font-weight: 500;
                    margin-bottom: 2vw;
                    text-align: center;
                }
            }
        
            
            .figurado__palpites__palpite {
                margin-top: 6vw;
                padding: 4vw;
        
                .figurado__palpites__palpite__img {
                    width: 100%;
                }
        
                .figurado__palpites__palpite__text {
                    padding-top: 5vw;
                    font-size: 5vw;
    
                }
            }
        
            .figurado__palpites__chute {
                position: relative;
                padding: 4vw;
                padding-top: 6vw;
                margin-top: 8vw;
                margin-bottom: 10vw;
        
                .figurado__palpites__chute__label {
                    font-size: 5vw;
                    margin-bottom: 6vw;
                }
    
                .figurado__palpites__chute__sub {
                    font-size: 4vw;
                    margin-bottom: 2vw;
                }
        
                .figurado__palpites__chute__input {
                    margin-bottom: 4vw;
                    width: 80%;
                    font-size: 3vw;
        
                }
        
                .figurado__palpites__chute__jogadores {
                    padding: 4vw;
                    width: 80%;
                    margin-bottom: 4vw;
                    max-height: 50vw;
        
                    .figurado__palpites__chute__jogadores__jogador {
                        font-size: 4vw;
                        margin-bottom: 2vw;
        
                        &:hover {
                            color: $verde-medio;
                        }
                    }
        
                }
        
                .figurado__palpites__chute__jogadores::-webkit-scrollbar-track {
                    border: 8px solid $roxo;
                    border-radius: 0.625vw;
                }
                   
                .figurado__palpites__chute__jogadores::-webkit-scrollbar {
                    width: 4vw;
                }
        
                .figurado__palpites__chute__jogador {
        
                    .figurado__palpites__chute__jogador__fechar {
                        margin-bottom: 4vw;
                        padding: 0.25vw;
                        padding-left: 0.75vw;
                        padding-right: 0.75vw;
                        font-size: 5vw;
                    }
        
                    .figurado__palpites__chute__jogador__nome {
                        font-size: 6vw;
                        font-weight: 500;
                        margin-bottom: 8vw;
                    }
        
                    .figurado__palpites__chute__jogador__button {
                        margin-bottom: 4vw;
                        margin-top: 8vw;
                        padding: 2vw;
                        width: 70%;
                        font-size: 4vw;
                        
                    }
                }
        
        
            }
    
        }
    }

}