@import '../scss/colors.scss';
@import '../scss/font.scss';


.header {
    margin-top: 2vw;
    margin-bottom: 3vw;

    .header__rewind {
        display: inline-block;
        width: 9%;
        margin-right: 0.5vw;
    }   
    
    .header__rewind--right {
        display: inline-block;
        width: 9%;
        margin-right: 0.5vw;
        transform: rotate(180deg)
    }

    .header__numero {
        display: inline-block;
        color: $verde-claro;
        font-size: 1.75vw;
        font-weight: 700;
    }

    .header__numero--right {
        display: inline-block;
        color: $verde-claro;
        font-size: 1.75vw;
        font-weight: 700;
        text-align: right;
    }

    .header__title {
        color: $branco;
        font-size: 2.5vw;
        font-weight: 700;
        text-align: center;

        .header__title__date {
            display: inline-block;
            color: $verde-claro;
            margin-left: 2vw;
        }
    }

    .header__ajuda {
        display: block;
        margin-left: auto;
        color: $azul;
        font-size: 1.5vw;
        font-weight: 700;
        text-align: center;
        padding: 0.1vw;
        border: 0.2vw solid $verde-claro;
        border-radius: 12px;
        width: 15%;
        background-color: $verde-claro;

        &:hover {
            background-color: $azul;
            color: $verde-claro;
        }

    }

}