@import '../scss/colors.scss';
@import '../scss/font.scss';


.header {
    margin-top: 3vw;
    margin-bottom: 3vw;

    .header__arrow {
        display: inline-block;
        color: $verde-claro;
        font-size: 1.25vw;
        font-weight: 700;
        text-decoration: none;
        margin-top: 0.5vw;
    }   

    .header__arrow__icon {
        display: inline-block;
        margin-right: 0.5vw;
    }

    .header__arrow--right {
        display:  block;
        margin-right: 0.5vw;
        color: $verde-claro;
        font-size: 1.25vw;
        font-weight: 700;
        text-decoration: none;
        margin-top: 0.5vw;
        text-align: right;
    }   
    
    .header__arrow__icon--right {
        display: inline-block;
        margin-left: 0.5vw;
    }

    
    .header__numero {
        display: inline-block;
        color: $verde-claro;
        font-size: 1.75vw;
        font-weight: 700;
    }

    .header__numero--right {
        display: inline-block;
        color: $verde-claro;
        font-size: 1.70vw;
        font-weight: 700;
        text-align: right;
    }

    .header__title {
        color: $branco;
        font-size: 2.5vw;
        font-weight: 700;
        text-align: center;

        .header__title__date {
            display: inline-block;
            color: $verde-claro;
            margin-left: 2vw;
        }
    }

    .header__ajuda {
        display: block;
        margin-left: auto;
        color: $verde-claro;
        font-size: 2.5vw;
        font-weight: 700;
        text-align: right;
        border-radius: 12px;
        cursor: pointer;


        &:hover {
            color: $vermelho;
        }

    }

}