@import '../scss/colors.scss';
@import '../scss/font.scss';


.home {
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-bottom: 10vw;
    position: relative;
}


#container-038c6f715381a09d8ccc5627797d8ded {
    position: sticky;
    margin-right: 2vw;
    margin-top: 2vw;
    top: 2vw;
}