@import '../scss/colors.scss';
@import '../scss/font.scss';


.home {
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vw;
    padding-bottom: 10vw;
}