@import '../scss/colors.scss';
@import '../scss/font.scss';


.menu {
    margin-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid $branco;
    

    .menu__logo {
        font-size: 2.25vw;
        color: $branco;
        text-decoration: none;

        &:hover {
            color: $verde-claro;
        }
    }

    .menu__google {
        padding-top: 0.75vw;
    }

    .menu__link {
        display: block;
        padding-top: 1vw;
        font-size: 1.1vw;
        color: $branco;
        text-decoration: none;
        font-weight: 400;
        text-align: right;

        &:hover {
            color: $verde-claro;
        }
    }

    .active {
        color: $verde-claro;
    }

    .menu__button {
        display: block;
        padding-top: 1vw;
        font-size: 1.1vw;
        color: $branco;
        text-decoration: none;
        font-weight: 400;
        background: none;
        border: none;
        outline: none;
        margin-left: auto;

        &:hover {
            color: $verde-claro;
        }
    }
}

@media only screen and (max-width: 767px) {

    .menu {
        padding-top: 20vw;
        padding-bottom: 10vw;
        border-bottom: 0.2vw solid $branco;

        .menu__logo {
            display: block;
            text-align: center;
            font-size: 10vw;
            margin-bottom: 10vw;
        }

        .menu__google {
            display: flex;
            justify-content: center;
        }

        .menu__link {
            text-align: center;
            font-size: 5vw;
        }

        .menu__button {
            margin-right: auto;
            font-size: 5vw;
        }
    }

} 