@import '../scss/colors.scss';
@import '../scss/font.scss';

.resultado {

    .resultado__certo {
        
        .resultado__certo__title {
            color: $verde-claro;
            font-size: 3vw;
            font-weight: 700;
            margin-bottom: 1vw;
            text-align: center;
        }

        .resultado__certo__img {
            width: 100%;
            margin-bottom: 1vw;
        }

        .resultado__certo__subtitle {
            color: $branco;
            font-size: 1vw;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            line-height: 1.5;
        }

        .resultado__certo__youtube {
            display: flex;
            justify-content:center;
            margin-top: 2vw;
            width: 40vw;
            height: 22.50vw;
        }

        .resultado__certo__wikipedia {
            display: block;
            margin-left: auto;
            margin-right: auto;
            color: $azul;
            font-size: 1vw;
            font-weight: 500;
            margin-bottom: 1vw;
            text-align: center;
            padding: 1vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            background-color: $azul;
            border-radius: 0.625vw;
            background-color: $verde-claro;
            width: 50%;
            text-decoration: none;

            &:hover {
                background-color: rgba($verde-medio, 0.8);
            }

        }


    }

    .resultado__errado {
        margin-top: 8vw;

        .resultado__errado__title {
            color: $vermelho;
            font-size: 5vw;
            font-weight: 700;
            text-align: center;
            margin-bottom: 4vw;
        }

        .resultado__errado__subtitle {
            color: $branco;
            font-size: 1.5vw;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 2vw;
        }
    }

}

@media only screen and (max-width: 767px) {

    iframe {
        width: 100%;
        height: 100%;
    }

    
    .resultado {
        padding-bottom: 40vw;

        .resultado__certo {
            padding-left: 4vw;
            padding-right: 4vw;
            
            .resultado__certo__title {
                font-size: 14vw;
                margin-bottom: 12vw;
                margin-top: 12vw;
            }

            .resultado__certo__img {
                display: block;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8vw;
            }

            .resultado__certo__subtitle {
                font-size: 5vw;
            }

            .resultado__certo__youtube {
                margin-top: 20vw;
                width: 100%;
                height: 56.25%;
                margin-bottom: 20vw;
            }

            .resultado__certo__wikipedia {

                font-size: 4vw;
                margin-bottom: 1vw;
                padding: 4vw;
                padding-bottom: 4vw;
                width: 90%;

                &:hover {
                    background-color: rgba($verde-medio, 0.8);
                }

            }


        }

        .resultado__errado {
            margin-top: 16vw;

            .resultado__errado__title {
                font-size: 10vw;
                margin-bottom: 12vw;
            }

            .resultado__errado__subtitle {
                font-size: 4.4vw;
                font-weight: 400;
                margin-bottom: 2vw;
            }
        }

    }

}